<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.panjoel.igtrans</string>
			<key>key</key>
			<string>aktif</string>
			<key>label</key>
			<string>enabled</string>
		</dict>
		<dict>
		<key>footerAlignment</key>
		<integer>1</integer>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>footerText</key>
		<string>Panjoel © 2017</string>
		</dict>
	</array>
	<key>title</key>
	<string>Ig Transparent</string>
</dict>
</plist>
